# Open Neuro Data

## Set-Up

In [178]:
# Setting up Directories
import os 

# project directory
project_dir = os.path.abspath('/data/NNDSP')

# path for csv files
csv_file = os.path.join(project_dir, 'anal/analysis_notebooks/BrainBox.csv')
print(os.path.exists(csv_file))

True

In [196]:
import pandas as pd
import csv

# df the csv file
csv = pd.read_csv(csv_file, sep=',', quoting=csv.QUOTE_NONE, names = ['T1url', 'id'])

In [197]:
# clean csv
for i in range(csv.shape[0]):
    csv.set_value(i, 'T1url', (csv.T1url.values[i])[1:])
    csv.set_value(i, 'id', (csv.id.values[i])[:len(csv.id.values[i])-1])
csv.head()

                                               T1url     id
0                                              T1url     id
1  https://s3.amazonaws.com/fcp-indi/data/Project...  50030
2  https://s3.amazonaws.com/fcp-indi/data/Project...  50031
3  https://s3.amazonaws.com/fcp-indi/data/Project...  50032
4  https://s3.amazonaws.com/fcp-indi/data/Project...  50033

In [198]:
# patterns for T1url paths
patterns = ['data/Projects/{study}/RawData/{site}/{subj_id}/session_{session_id}/anat_{anat_id}/mprage.nii.gz',
            'data/Projects/{study}/Outputs/freesurfer/5.1/{site}_{site_suffix}_{subj_id}/mri/T1.mgz',
            'data/Projects/{study}/Outputs/freesurfer/5.1/{site}_{subj_id}/mri/T1.mgz',
            'data/Projects/{study}/surfaces/freesurfer/5.3/{subj_id}/mri/T1.mgz',
            'data/Projects/{study}/Outputs/IBA_TRT/freesurfer_gpu/{subj_id}-session_{session_id}/mri/T1.mgz',
            'data/Projects/{study}/Outputs/IBA_TRT/freesurfer/{subj_id}-session_{session_id}/mri/T1.mgz',
            'data/Projects/{study}/RawData/{site}/{subj_id}/session_{session_id}/anat_{anat_id}/anat.nii.gz',
            'data/Projects/{study:w}/sub-{subj_id}/ses-{session_id}/anat/sub-{subj_id}_ses-{session_id}_T1w.nii.gz',
            'data/Projects/{study:w}/RawData/{subj_id}/{session_id}/{deface_id}/{deface_id2}_defaced.nii.gz',
            'data/Projects/INDI/{study}/RawData/sub-{subj_id}/anat/sub-{subj_id}_T1w.nii.gz']

project_id = "https://s3.amazonaws.com/fcp-indi/data/Projects/{project_id}/{frag}"

In [201]:
import parse
import pandas as pd

# get the project the data is from
def get_project(string, project_id='https://s3.amazonaws.com/fcp-indi/data/Projects/{project_id}/{frag}', get_str='project_id'):
    parsed = parse.parse(project_id, string)
    if parsed:
        return parsed.named.get(get_str).lower()
    elif 'osf' in string and '5h7sv' in string:
        return 'ixi'
    else:
        return pd.np.nan

In [202]:
# call get project function
csv['project'] = csv.T1url.apply(get_project)
csv.head()

                                               T1url     id           project
0                                              T1url     id               NaN
1  https://s3.amazonaws.com/fcp-indi/data/Project...  50030  abide_initiative
2  https://s3.amazonaws.com/fcp-indi/data/Project...  50031  abide_initiative
3  https://s3.amazonaws.com/fcp-indi/data/Project...  50032  abide_initiative
4  https://s3.amazonaws.com/fcp-indi/data/Project...  50033  abide_initiative

In [203]:
url_pattern = ["https://s3.amazonaws.com/fcp-indi/" + pattern for pattern in patterns]

In [204]:
def get_session(url):
    result = None
    for pattern in url_patterns:
        parsed = parse.parse(pattern, url)
        if parsed:
            result = parsed.named.get('session_id')
    if result:
        if result == '01':
            return '1'
        else:
            return result
    else:
        return '1'

In [206]:
sessions = csv.T1url.apply(get_session)
csv['session_id'] = sessions